@import "../../../scss/variables";

.AboutSection {
  //   border: solid red 1px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  transition: all 0.4s ease;

  .aboutCard {
    // border: solid blue 1px;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.35);
    display: flex;
    transition: all 0.4s ease;
    transform: translateX(0) rotateY(0);
    // transform-origin: 0% 50%;
    cursor: pointer;
    transition: all 0.4s ease;

    color: black;

    .reverse {
      transform: translateX(100%) rotateY(-180deg);
    }

    @media (max-width: 800px) {
      flex-direction: column;
    }

    background-color: $secondary;

    .leftContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .imageContainer {
      width: 100%;

      overflow: hidden;

      .image {
        height: 100%;
        width: 100%;

        border-radius: 0 20px 20px 0;

        object-fit: cover;
      }
    }
  }

  .flipCard {
    transform: translateX(-100%) rotateY(180deg);
    transform-origin: 100% 0%;
  }
}

@keyframes flip-2-ver-left-1 {
  0% {
    transform: translateX(0) rotateY(0);
    transform-origin: 0% 50%;
  }
  100% {
    transform-origin: 100% 0%;
  }
}
