.Navbar {
  display: flex;
  list-style-type: none;
  gap: 55px;

  li {
    cursor: pointer;
    letter-spacing: 2px;
    transition: all 0.35s ease;

    &:hover {
      color: rgb(243, 226, 131);
    }
  }

  @media (max-width: 800px) {
    display: none;
  }
}
